
    <!-- Service Start -->
    <div class="container-xxl py-4">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item text-center pt-3">
                        <div class="p-5">
                            <i class="fa fa-3x fa-graduation-cap mb-4"></i>
                            <h5 class="mb-3">Skilled Instructors</h5>
                            <p>Embark on your learning journey with our instructors, guiding you every step of the way</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item text-center pt-3">
                        <div class="p-5">
                            <i class="fa fa-3x fa-globe mb-4"></i>
                            <h5 class="mb-3">Online Classes</h5>
                            <p>Master Your Skills Anywhere: Join Our Virtual Classroom for Interactive Online Classes</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item text-center pt-3">
                        <div class="p-5">
                            <i class="fa fa-3x fa-home mb-4"></i>
                            <h5 class="mb-3">Home Projects</h5>
                            <p>Crafting Comfort: Elevate Your Living Space with Engaging Home Projects Tailored to Your Needs</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item text-center pt-3">
                        <div class="p-5">
                            <i class="fa fa-3x fa-book-open mb-4"></i>
                            <h5 class="mb-3">Online Evaluation</h5>
                            <p>Measure Progress, Elevate Learning: Engage with Our Online Evaluation Tools</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->