<app-navbar></app-navbar>
<div class="profile-container">
  <div class="profile-header">
    <div class="profile-picture">
      <img [src]="currentUser.imagePath" alt="Profile Picture" />
    </div>
    <div class="profile-details">
      <a href=""> <i class="fas fa-camera"></i> </a>
      <h2 class="username">{{ currentUser.name }}</h2>

      <a routerLink="/myprofile/edit" class="edit-button">Edit Profile</a>
    </div>
  </div>
  <div class="courses">
    <h3 *ngIf="currentUser.role === 'student'" >Joined Courses</h3>
    <h3 *ngIf="currentUser.role === 'tutor'" >Created Courses</h3>
    <div class="course-grid">
      <div class="course" *ngFor="let course of courses" (click)="goToCourse(course.id)" >
        <div class="course-picture">
          <img [src]="course.imagePath" alt="" />
        </div>
        <div class="course-details">
          <h4>{{ course.name }}</h4>
          <p class="tutor">{{ course.creator.firstName + " " + course.creator.lastName}}</p>
          <div class="mb-3">
            <span class="rate">Rate: </span>
            <small class="fa fa-star " *ngFor="let item of [].constructor(getNonDecimalRating(course.rating)); let i = index"></small>
            <small class="fa fa-star" [style]="{'clip-path': 'rect(0% 0% 100% ' + (getDecimalRating(course.rating) * 100) + '%)'}"> </small>
            <small class="rating">{{ getDecimalRating(course.rating) + getNonDecimalRating(course.rating) }}</small>
          </div>
          <button class="btn btn-primary" (click)="goToQuiz(course.quizz.id)">Quiz</button>
        </div>
      </div>
    </div>
  </div>
</div>
