@import "@fortawesome/fontawesome-free/css/all.css";
.text {
  color: #06bbcc;
}
.gallery {
  align-items: center;
  display: flex;
  overflow: hidden;
  position: relative;
}

.imgs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex: none;
}

.team-item {
  list-style: none;
  margin: 0 10px;
  position: relative;
  width: 300px;
}

.image-container img {
  filter: contrast(90%);
  transition: transform 0.5s;
  width: 100%;
  border-radius: 7px;
}

.image-container p {
  position: absolute;
  margin-left: 0;
  margin-top: 20px;
  width: 100%;

  color: rgb(21, 20, 20);
  text-align: center;
  font-size: 14px;

  opacity: 0;
  transition: opacity 0.3s;
  font-family: "OptimaLTStdSemiBold", sans-serif;
  font-style: italic;
}

.image-container:hover p {
  opacity: 1;
}
.image-container:hover i {
  opacity: 1;
}
.gallery::-webkit-scrollbar {
  display: none;
}
.gallerywrap {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 50px;
  position: relative;
}
.gallery::-webkit-scrollbar {
  display: none;
}

#backbutton,
#nextbutton {
  cursor: pointer;
}
.imgs img:hover {
  filter: contrast(100%);
  cursor: pointer;
  transform: scale(1.1);
}
.mx-1 {
  color: #06bbcc;
}

