<app-navbar></app-navbar>
<div class="container">
<h2 class="text">   Edit Your Profile  </h2>

<div class="col">



    <input   type="text" class="form-control " placeholder="FirstName">
    <input  type="text" class="form-control " placeholder="Lastname">
    <input type="text" class="form-control" placeholder="Username">
    <input type="email" class="form-control" placeholder="Email">
    <input type="password" class="form-control" placeholder="Password">
   
    
    <div class="button-container">
    <button routerLink="/" class="btn">update</button>
</div>

</div>

