@import "@fortawesome/fontawesome-free/css/all.css";
.service-item {
  background: #f0fbfc;
  transition: 0.5s;
}

.service-item:hover {
  margin-top: -10px;
  background: #06bbcc;
  color: #f0fbfc !important;
}
.service-item:hover .fa {
  color: #f0fbfc;
  transition: 0.3s;
}
.service-item {
  transition: 0.3s;
}

.fa {
  color: #06bbcc;
}
.container-xxl {
  position: relative;
  bottom: 50px;
}
.img-fluid {
  position: relative;
  bottom: -100px;
}
.btn {
  background-color: #f14d5d;
  border-color: #f14d5d;
}
.kk {
  text-align: center;
}
.btn:hover {
  color: #fff;
  background-color: #ee2a3d;
  border-color: #ed1e32;
}
.section-title {
  color: #06bbcc;
}
.mimi {
  position: relative;
  top: 35px;
}
.item1 {
  background-color: #06bbcc;
}
.item2 {
  background-color: #f0efef;
}
.item3 {
  background-color: #06bbcc;
}
.item4 {
  background-color: #f0efef;
}
