
    <!-- Services -->
    <div class="container-xxl py-4">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s" *ngFor="let service of services">
                    <div class="service-item text-center pt-3" style="height: 100%;">
                        <div class="p-5">
                            <i class={{service.icon}}></i>
                            <h5 class="mb-3">{{ service.name }}</h5>
                            <p> {{ service.description }} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 <!-- welcoming-->
 <div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-110" src="../../assets/images/e-learn1.png" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp mb-3 mimi" >
                <h6 class="section-title text-start mt-3">About Us</h6>
                <h1 class="mb-4">Welcome to eLEARNING</h1>
                <p class="mb-4"> Explore diverse topics and engage with interactive content designed to enhance your learning experience. Access a wealth of resources to expand your knowledge and skills.</p>
                <p class="mb-4">Whether you're a novice or an expert, there's something for everyone in our dynamic online platform. Dive in and embark on your educational journey today!</p>
               
                <div class="row pt-3 mx-0 mt-4">
                    <div class="col-3 px-0">
                        <div class=" item1 text-center p-4">
                            <h1 class="text-white" data-toggle="counter-up">7</h1>
                            <h6 class="text-uppercase text-white">Available<span class="d-block">Subjects</span></h6>
                        </div>
                    </div>
                    <div class="col-3 px-0">
                        <div class=" item2 text-center p-4">
                            <h1 class="text-black" data-toggle="counter-up">3</h1>
                            <h6 class="text-uppercase text-black">Online<span class="d-block">Courses</span></h6>
                        </div>
                    </div>
                    <div class="col-3 px-0">
                        <div class=" item3 text-center p-4">
                            <h1 class="text-white" data-toggle="counter-up">10</h1>
                            <h6 class="text-uppercase text-white">Skilled<span class="d-block">Instructors</span></h6>
                        </div>
                    </div>
                    <div class="col-3 px-0">
                        <div class=" item4 text-center p-4">
                            <h1 class="text-black" data-toggle="counter-up">69</h1>
                            <h6 class="text-uppercase text-black">Happy<span class="d-block">Students</span></h6>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>